<Layouts.flash_group flash={@flash}/>
<div class="comingsoon">
    <h1>work in progress!</h1>
    <p>our team is working on this project.. cya soon!!</p>
</div>

<div class="usercount">
    <p><%= @viewer_count %> people are currently here</p>
</div>
